@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h5 class="card py-2 shadow-sm" style="width: 200px; text-align: center; margin: 18px auto; border-radius: 10px;">
	ABOUT
</h5>
<div class="card shadow" style="border: 1px solid #D9D9D9; width: 70%; margin: 30px auto;
    padding-inline: 50px; padding-top: 30px;">
    <p>This website </p>

    <p></p>
    <p>Technologies: </p>
</div>
